

<div class="wrap">
  <div class="icon32" id="icon-edit"><br/></div>
  <h2>Objednávky</h2>
  <% if flash[:notice] %>
    <div id="message" class="updated fade">
      <p><%= flash[:notice] %></p>
    </div>
  <% end %>


          <table cellspacing="0" class="widefat post fixed">
            <thead>
              <tr>
                <th style="" class="manage-column column-cb check-column" id="cb" scope="col"><!-- <input type="checkbox"/>--></th>
                <th style="" class="manage-column column-title" id="title" scope="col">Uživatel</th>
                <th style="" class="manage-column column-date" id="date" scope="col">Datum</th>
              </tr>
            </thead>


            <tbody>
              <% @orders.each do |order| %>
                <tr valign="top" class="alternate author-self status-publish iedit" id="post-8">
                  <th class="check-column" scope="row"><!-- <%= check_box_tag 'orders[]', order.id %>--></th>
                  <td class="post-title column-title"><strong><%= link_to order.user.login, edit_admin_order_url(order)  %></strong>

                  </td>
                  <td class="date column-date"><%= order.created_at %></td>     </tr>
              <% end %>
            </tbody>
          </table>

        <div id="ajax-response"/>

          <br class="clear"/>

        </div>


        <div class="clear"/></div>
