<div id="screen-meta">
  <div id="screen-options-wrap" class="hidden">
    <form id="adv-settings" action="" method="post">
      <h5>Show on screen</h5>
      <div class="metabox-prefs">
        <label for="description-hide"><input class="hide-column-tog" name="description-hide" id="description-hide" value="description" checked="checked" type="checkbox">Description</label>
        <label for="slug-hide"><input class="hide-column-tog" name="slug-hide" id="slug-hide" value="slug" checked="checked" type="checkbox">Slug</label>
        <label for="posts-hide"><input class="hide-column-tog" name="posts-hide" id="posts-hide" value="posts" checked="checked" type="checkbox">Posts</label>
        <br class="clear">
      </div>
      <h5>Options</h5>
      <div class="screen-options">
        <label for="categories_per_page">Categories per page:</label> <input class="screen-per-page" name="wp_screen_options[value]" id="categories_per_page" maxlength="3" value="20" type="text">
        <input class="button" value="Apply" type="submit"><input name="wp_screen_options[option]" value="categories_per_page" type="hidden"></div>
      <div><input id="screenoptionnonce" name="screenoptionnonce" value="812700b538" type="hidden"></div>
    </form>
  </div>

  <div id="contextual-help-wrap" class="hidden">
    <h5>Help</h5><div class="metabox-prefs"><a href="http://codex.wordpress.org/" target="_blank">Documentation</a><br><a href="http://wordpress.org/support/" target="_blank">Support Forums</a></div>
  </div>

  <div id="screen-meta-links">
    <div id="contextual-help-link-wrap" class="hide-if-no-js screen-meta-toggle">
      <a href="#contextual-help" id="contextual-help-link" class="show-settings">Help</a>
    </div>
    <div id="screen-options-link-wrap" class="hide-if-no-js screen-meta-toggle">
      <a href="#screen-options" id="show-settings-link" class="show-settings">Screen Options</a>
    </div>
  </div>
</div>

<div class="wrap">
  <div id="icon-edit" class="icon32"><br></div>
  <h2>Upravit kategorii</h2>
  <div id="ajax-response"></div>
  <% form_for [:admin, @category] do |f| %>
    <%= f.error_messages %>
    <input name="action" value="editedcat" type="hidden">
    <input name="cat_ID" value="6" type="hidden">
    <input name="_wp_original_http_referer" value="" type="hidden"><input id="_wpnonce" name="_wpnonce" value="a910cb240c" type="hidden"><input name="_wp_http_referer" value="/~david/wp/wp-admin/categories.php?action=edit&amp;cat_ID=6" type="hidden">	<table class="form-table">
      <tbody><tr class="form-field form-required">
          <th scope="row" valign="top">
            <!-- <label for="cat_name">Category Name</label>-->

            <%= f.label :title, "Název" %>
          </th>
          <td>
            <%= f.text_field :title %>

            <!-- <input name="cat_name" id="cat_name" value="da" size="40" aria-required="true" type="text">-->

            <br>
            <span class="description">Název kategorie by měl vystihovat druh zboží, které se v něm bude vyskytovat. </span></td>
        </tr>
    </tbody></table>
    <p class="submit">
    <%= f.submit 'Uložit' ,:class => "button-primary" %>
    </p>
  <% end %>
</div>

<div class="clear"></div></div><!-- wpbody-content -->
