<h1>Nástěnka</h1>
<h3><%= @this_month_title %></h3>
<p>Prodáno</p>
<table>
<tr>
  <td>Objednávky</td><td><%= @this_month_orders %></td>
</tr>
<tr>
  <td>Kusy</td><td><%= @this_month_quantity %></td>
</tr>
<tr>
  <td>Celkem</td><td><%= @this_month_total %></td>
</tr>
</table>

